<div class="tw-flex">
    <a href="#" class="tw-flex tw-text-primary tw-rounded-sm tw-border tw-border-primary tw-items-center tw-p-1 tw-cursor-pointer">
        <svg class="tw-fill-current tw-mr-1 tw-w-4 tw-h-4 tw-opacity-25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 10c0-1.1.9-2 2-2h8c1.1 0 2 .9 2 2v8c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2v-8zm2 0v8h8v-8h-2V8H8v2H6zm3-6.17V16h2V3.83l3.07 3.07 1.42-1.41L10 0l-.7.7-4.8 4.8 1.42 1.4L9 3.84z"/></svg>
        <div class="tw-text-xs tw-whitespace-no-wrap tw-font-thin">
            Exportieren
        </div>
    </a>

    <div class="tw-flex tw-rounded-sm tw-border tw-border-primary tw-items-center tw-p-1 lg:tw-hidden tw-cursor-pointer tw-ml-1" data-open-sidebar>
        <svg  class="tw-fill-current tw-mr-1 tw-w-4 tw-h-4 tw-opacity-25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/></svg>
        <div class="tw-text-xs tw-whitespace-no-wrap tw-font-thin ">
            Suchen
        </div>
    </div>
</div>
