<form action="#">
    <input type="hidden" name="filter[init]" value="true">

    <!-- Kalender -->
    <div class="tw-p-2 tw-bg-grey-lighter">
        <label for="allCalendars" class="
            checkbox-red tw-flex tw-justify-between tw-items-center tw-cursor-pointer
            tw-tracking-wide tw-text-sm tw-font-semibold tw-text-grey-dark
            tw-uppercase
            tw-my-0
            "
        >
            <input type="checkbox" name="filter[allCalendars]"
                data-trigger=".calendarCheckbox"
                data-trigger-action="clone"
                id="allCalendars"
            >
            <span>
                Kalender anzeigen
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
            </span>
        </label>
    </div>
    <div class="tw-p-2">
        {% for calendar in calendars %}
            <label for="calendar-{{ calendar.id }}" class="checkbox-red tw-flex tw-justify-between tw-items-center tw-cursor-pointer">
                <input type="checkbox" name="filter[calendars][]" value="{{ calendar.id }}"
                    id="calendar-{{ calendar.id }}"
                    data-request="onFilter"
                    data-request-update="'{{ __SELF__ }}::events': '#event-container'"
                    class="calendarCheckbox"

                    {% if calendar.id in filter.calendars %} checked {% endif %}
                >
                <span class="tw-pr-7 tw-text-sm tw-font-hairline">
                    {{ calendar.name }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
                </span>
            </label>
        {% endfor %}
    </div>

    <!-- Kategorien -->
    <div class="tw-p-2 tw-bg-grey-lighter">
        <label for="allCategories" class="
            checkbox-red tw-flex tw-justify-between tw-items-center tw-cursor-pointer
            tw-tracking-wide tw-text-sm tw-font-semibold tw-text-grey-dark
            tw-uppercase
            tw-my-0
            "
        >
            <input type="checkbox" name="filter[allCategories]"
                data-trigger=".categoryCheckbox"
                data-trigger-action="clone"
                id="allCategories"
            >
            <span>
                Kategorien
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
            </span>
        </label>
    </div>
    <div class="tw-p-2">
        {% for category in categories %}
            <label for="category-{{ category.id }}" class="checkbox-red tw-flex tw-justify-between tw-items-center tw-cursor-pointer">
                <input type="checkbox" name="filter[categories][]" value="{{ category.id }}"
                    id="category-{{ category.id }}"
                    data-request="onFilter"
                    class="categoryCheckbox"
                    data-request-update="'{{ __SELF__ }}::events': '#event-container'"
                    {% if category.id in filter.categories %} checked {% endif %}
                >
                <span class="tw-pr-7 tw-text-sm tw-font-hairline">
                    {{ category.title }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
                </span>
            </label>
        {% endfor %}
    </div>

    <!-- Optionen -->
    <div class="tw-p-2 tw-bg-grey-lighter">
        <div class="tw-flex tw-tracking-wide tw-text-sm tw-font-semibold tw-text-grey-dark tw-uppercase">
            Optionen
        </div>
    </div>
    <div class="tw-p-2">
        <label for="showPast" class="checkbox-red tw-flex tw-justify-between tw-items-center tw-cursor-pointer">
            <input type="checkbox" name="filter[showPast]" value="true"
                id="showPast"
                data-request="onFilter"
                class="categoryCheckbox"
                data-request-update="'{{ __SELF__ }}::events': '#event-container'"
                {% if filter.showPast %} checked {% endif %}
            >
            <span class="tw-pr-7 tw-text-sm tw-font-hairline">
                Vergangene Termine anzeigen
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
            </span>
        </label>
    </div>
</form>
