.btn.btn-scoutnet_connect {
    border-radius: 10px;
    border-image: url(https://www.scoutnet.de/fileadmin/templates/img/stiches-black.png) 30 30 round;
    border-image-outset: 3px;
    border-image-width: 20px;
    border-left-width: 0;
    border-top-width: 0;
    padding: 10px 15px 10px 10px;
    font-weight: 500;
    color: #e1ddd5;
    background-color: hsla(36, 17%, 52%, 1);
    position: relative;
    display: flex;
    align-items: center;
}
.btn.btn-scoutnet_connect:hover {
    background-color: hsla(36, 17%, 60%, 1);
}
.btn.btn-scoutnet_connect:before {
    content: "";
    background: url(https://www.scoutnet.de/fileadmin/templates/img/logo.png) no-repeat center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: cover;
    z-index: 10;
}
.btn.btn-scoutnet_connect.btn-scoutnet_connect-connected {
    background-color: hsl(101, 16.7%, 52%);
}

.btn.btn-google_calendar {
    color: #fff;
    background: #1a73e8;
    line-height: 36px;
    height: 36px;
    border-bottom: 0;
    box-shadow: none;
    display: flex;
    padding: 0 35px;
    font: 500 14px/36px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}
