<?php if ($this->service->hasCredentials()): ?>
    <button
        data-js-request="<?= $this->getEventHandler($this->service->isConnected() ? 'onGetLogoutForm' : 'onGetLoginForm') ?>"
        type="button"
        class="btn <?php echo $this->btnClass; ?>"
        data-connect-button
    >
        <?= e(trans($this->service->buttonText())) ?>
    </button>

    <?php if ($this->service->isConnected()): ?>
    aaaa
    <?php endif; ?>
<?php else: ?>
<p class="flash-message static info"><?= e(trans('zoomyboy.scoutnet::api.'.$this->connection.'.noCredentialsError')) ?></p>
<?php endif; ?>
